/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
/*Header*/
h1{
	color:white;
	text-align:center;
	display:none;
}
header{
	display:flex;
	margin:auto;
	/*width:40%;*/
	margin-bottom:50px;
}
header div{
	margin:auto;
	/*width:65%;*/
}
#headerLeft{
	width:50%;
}
#headerRight{
	width:50%;
}
header img{
	float:right;
	width:20em;
	border-radius: 0 30%;
	margin:auto;
}
header p{
	font-family: "Iceberg", sans-serif;
	color:white;
	font-size:3em;
	margin-left:1em;
}
@media screen and (max-width: 900px) {
	header{
		display:block;
	}
	header img{
		float:none;
		display:block;
	}
	header p{
		display:block;
		margin:auto;
		text-align:center;
	}
	#headerLeft{
		width:100%;
	}
	#headerRight{
		width:100%;
	}
}
/*Background*/
polygon{
	fill:orange;
}
#svgLayer{
	background-color:#00006b;
	z-index:-2;
	position:fixed;
	left:0;
	top:0;
	filter:blur(0.8px);
}
/*Content*/
.content{
	margin-left:-7px;
	background-image:none;
	width:150wv;
}
.content:nth-child(odd){
	margin-right:-8px;
	height:250px;
	background-image:url("media/tech-line-pattern.png");
	background-repeat:repeat;
	background-attachment: fixed;
	border-radius: 0 50px;
}